In [1]:
num = 12
operacao = num % 2
operacao

0

In [33]:
if (num >= 0) and (num % 2 == 0):
    print("O valor da variável num é positivo e par")

O valor da variável num é positivo e par

In [45]:
peso = float(input("Digite seu peso: "))
altura = float(input("Digite sua altura: "))
imc = peso/altura**2
if imc <20:
    print("Seu peso está abaixo do ideal. Seu IMC = {}.".format(imc))
elif (imc >= 20) and (imc <= 25):
    print("Seu peso está dentro da faixa ideal. Seu IMC = {}.".format(imc))
else:
    print("Seu peso está acima do ideal. Seu IMC = {}.".format(imc))

Digite seu peso:  91
Digite sua altura:  1.80

Seu peso está acima do ideal. Seu IMC = 28.086419753086417.

In [144]:
peso2 = float(input("Digite seu peso: "))
altura2 = float(input("Digite sua altura: "))
imc2 = peso2/altura2**2

if (imc2 < 17):
    print("Você está muito abaixo do peso. Seu IMC = {}.".format(imc2))
elif (imc2 >= 17.00) and (imc2 < 18.5):
    print("Você está abaixo do peso. Seu IMC = {}.".format(imc2))
elif (imc2 >= 18.50) and (imc2 < 25):
    print("Você está dentro do peso normal. Seu IMC = {}.".format(imc2))
elif (imc2 >= 25.00) and (imc2 < 30):
    print("Você está acima do peso. Seu IMC = {}.".format(imc2))
elif (imc2 >= 30.00) and (imc2 < 35):
    print("Você está dentro da Obesidade I. Seu IMC = {}.".format(imc2)) 
elif (imc2 >= 35.00) and (imc2 < 40):
    print("Você está dentro da Obesidade II (severa). Seu IMC = {}.".format(imc2))
elif (imc >= 40.00):
    print("Você está dentro da Obesidade III (mórbida). Seu IMC = {}.".format(imc2)) 

# Uitlizando o Elif não é necessário recuo

Digite seu peso:  65
Digite sua altura:  1.62

Você está dentro do peso normal. Seu IMC = 24.76756591982929.

In [142]:
peso3 = float(input("Digite seu peso: "))
altura3 = float(input("Digite sua altura: "))
imc3 = peso3/altura3**2
if imc3 < 17:
    print("Você está muito abaixo do peso ideal. Seu IMC = {}.".format(imc3))
else: 
    if imc3 >= 17.00 and imc3 < 18.5:
        print("Você está abaixo do peso ideal. Seu IMC = {}.".format(imc3))
    else: 
         if imc3 >= 18.5 and imc3 < 25:
            print("Você está dentro do peso ideal. Seu IMC = {}.".format(imc3))
         else: 
             if imc3 >= 25 and imc3 < 30:
                print("Você está acima do peso. Seu IMC = {}.".format(imc))
             else:    
                 if imc3 >= 30 and imc3 < 35:
                    print("Você está dentro da Obesidade I. Seu IMC = {}.".format(imc3)) 
                 else:  
                    if imc3 >= 35.00 and imc3 < 40:
                         print("Você está dentro da Obesidade II (severa). Seu IMC = {}.".format(imc3))
                    else:
                         print("Você está dentro da Obesidade III (mórbida). Seu IMC = {}.".format(imc3))

# A cada else é necessário um recuo

Digite seu peso:  130
Digite sua altura:  1.80

Você está dentro da Obesidade III (mórbida). Seu IMC = 40.123456790123456.

In [156]:
lado1 = float(input("Digite o primeiro lado do triângulo"))
lado2 = float(input("Digite o segundo lado do triângulo"))
lado3 = float(input("Digite o terceiro lado do triângulo"))

if (lado1 + lado3 > lado2) and (lado2 + lado1 > lado3) and (lado3 + lado2 > lado1):
              print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo".format(lado1,lado2,lado3))
else:
              print("As medidas A {} cm, B {} cm e C {} cm não formam um triângulo".format(lado1, lado2, lado3))

Digite o primeiro lado do triângulo 7
Digite o segundo lado do triângulo 8
Digite o terceiro lado do triângulo 4

As medidas A 7.0 cm, B 8.0 cm e C 4.0 cm formam um triângulo

In [168]:
lado1 = float(input("Digite o primeiro lado do triângulo"))
lado2 = float(input("Digite o segundo lado do triângulo"))
lado3 = float(input("Digite o terceiro lado do triângulo"))

if (lado1 + lado3 > lado2) and (lado2 + lado1 > lado3) and (lado3 + lado2 > lado1):
    if (lado2 == lado1) and (lado2 == lado3):
        print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo equilátero".format(lado1,lado2,lado3))
    else:
        if (lado2 == lado1) or (lado2 == lado3) or (lado1 == lado3):
            print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo isóceles".format(lado1, lado2, lado3))
        else:
            print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo escaleno".format(lado1, lado2, lado3))
else:
    print("As medidas A {} cm, B {} cm e C {} cm não formam um triângulo".format(lado1, lado2, lado3))

Digite o primeiro lado do triângulo 6
Digite o segundo lado do triângulo 6
Digite o terceiro lado do triângulo 2

As medidas A 6.0 cm, B 6.0 cm e C 2.0 cm formam um triângulo isóceles

In [176]:
lado1 = float(input("Digite o primeiro lado do triângulo"))
lado2 = float(input("Digite o segundo lado do triângulo"))
lado3 = float(input("Digite o terceiro lado do triângulo"))

if (lado1 + lado3 > lado2) and (lado2 + lado1 > lado3) and (lado3 + lado2 > lado1):
    if (lado2 == lado1) and (lado2 == lado3):
        print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo equilátero".format(lado1,lado2,lado3))
    elif (lado2 == lado1) or (lado2 == lado3) or (lado1 == lado3):
            print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo isóceles".format(lado1, lado2, lado3))
    else:
            print("As medidas A {} cm, B {} cm e C {} cm formam um triângulo escaleno".format(lado1, lado2, lado3))
else:
    print("As medidas A {} cm, B {} cm e C {} cm não formam um triângulo".format(lado1, lado2, lado3))

Digite o primeiro lado do triângulo 6
Digite o segundo lado do triângulo 7
Digite o terceiro lado do triângulo 10

As medidas A 6.0 cm, B 7.0 cm e C 10.0 cm formam um triângulo escaleno

In [197]:
lista_idades = []
lista_pessoas = []

nome = input("Digite um nome: ")
while (nome.lower() !='fim'):
    idade = int(input("Digite uma idade"))
    lista_idades.append(idade)
    lista_pessoas.append(nome)
    nome = input("Digite um nome: ")

print("\n\nNomes digitados\n================")
print(lista_pessoas)
print("\nIdades\n===============")
print(lista_idades)

Digite um nome:  Roberto
Digite uma idade 40
Digite um nome:  Jessica
Digite uma idade 30
Digite um nome:  Almerinda
Digite uma idade 50
Digite um nome:  FIM

Nomes digitados
================
['Roberto', 'Jessica', 'Almerinda']

Idades
===============
[40, 30, 50]

In [203]:
lista_idades = []
lista_pessoas = []

cont = 0

while (cont < 5):
    nome = input("Digite um nome: ")
    idade = int(input("Digite uma idade"))
    lista_idades.append(idade)
    lista_pessoas.append(nome)
    cont = cont + 1

print("\n\nNomes digitados\n================")
print(lista_pessoas)
print("\nIdades\n===============")
print(lista_idades)

Digite um nome:  Carlos
Digite uma idade 10
Digite um nome:  Jessica
Digite uma idade 20
Digite um nome:  Carla
Digite uma idade 80
Digite um nome:  DominiqUE
Digite uma idade 15
Digite um nome:  Alfredo
Digite uma idade 70

Nomes digitados
================
['Carlos', 'Jessica', 'Carla', 'DominiqUE', 'Alfredo']

Idades
===============
[10, 20, 80, 15, 70]

In [221]:
soma = 0
qtde = 0
den = 0
termo = 1

while (termo > 0.0001):
    qtde +=1
    den = qtde ** 2
    termo = 1/den
    soma+= termo
    print("{}º termo {}/{} = {} ".format(qtde,1,den,termo))

print(soma)

1º termo 1/1 = 1.0
2º termo 1/4 = 0.25
3º termo 1/9 = 0.1111111111111111
4º termo 1/16 = 0.0625
5º termo 1/25 = 0.04
6º termo 1/36 = 0.027777777777777776
7º termo 1/49 = 0.02040816326530612
8º termo 1/64 = 0.015625
9º termo 1/81 = 0.012345679012345678
10º termo 1/100 = 0.01
11º termo 1/121 = 0.008264462809917356
12º termo 1/144 = 0.006944444444444444
13º termo 1/169 = 0.005917159763313609
14º termo 1/196 = 0.00510204081632653
15º termo 1/225 = 0.0044444444444444444
16º termo 1/256 = 0.00390625
17º termo 1/289 = 0.0034602076124567475
18º termo 1/324 = 0.0030864197530864196
19º termo 1/361 = 0.002770083102493075
20º termo 1/400 = 0.0025
21º termo 1/441 = 0.0022675736961451248
22º termo 1/484 = 0.002066115702479339
23º termo 1/529 = 0.001890359168241966
24º termo 1/576 = 0.001736111111111111
25º termo 1/625 = 0.0016
26º termo 1/676 = 0.0014792899408284023
27º termo 1/729 = 0.0013717421124828531
28º termo 1/784 = 0.0012755102040816326
29º termo 1/841 = 0.0011890606420927466
30º termo 1/900 = 0.0011111111111111111
31º termo 1/961 = 0.001040582726326743
32º termo 1/1024 = 0.0009765625
33º termo 1/1089 = 0.0009182736455463728
34º termo 1/1156 = 0.0008650519031141869
35º termo 1/1225 = 0.0008163265306122449
36º termo 1/1296 = 0.0007716049382716049
37º termo 1/1369 = 0.0007304601899196494
38º termo 1/1444 = 0.0006925207756232687
39º termo 1/1521 = 0.0006574621959237344
40º termo 1/1600 = 0.000625
41º termo 1/1681 = 0.000594883997620464
42º termo 1/1764 = 0.0005668934240362812
43º termo 1/1849 = 0.0005408328826392645
44º termo 1/1936 = 0.0005165289256198347
45º termo 1/2025 = 0.0004938271604938272
46º termo 1/2116 = 0.0004725897920604915
47º termo 1/2209 = 0.0004526935264825713
48º termo 1/2304 = 0.00043402777777777775
49º termo 1/2401 = 0.00041649312786339027
50º termo 1/2500 = 0.0004
51º termo 1/2601 = 0.00038446751249519417
52º termo 1/2704 = 0.0003698224852071006
53º termo 1/2809 = 0.000355998576005696
54º termo 1/2916 = 0.0003429355281207133
55º termo 1/3025 = 0.00033057851239669424
56º termo 1/3136 = 0.00031887755102040814
57º termo 1/3249 = 0.0003077870113881194
58º termo 1/3364 = 0.00029726516052318666
59º termo 1/3481 = 0.0002872737719046251
60º termo 1/3600 = 0.0002777777777777778
61º termo 1/3721 = 0.0002687449610319806
62º termo 1/3844 = 0.00026014568158168577
63º termo 1/3969 = 0.0002519526329050139
64º termo 1/4096 = 0.000244140625
65º termo 1/4225 = 0.00023668639053254438
66º termo 1/4356 = 0.0002295684113865932
67º termo 1/4489 = 0.00022276676319893073
68º termo 1/4624 = 0.00021626297577854672
69º termo 1/4761 = 0.00021003990758244065
70º termo 1/4900 = 0.00020408163265306123
71º termo 1/5041 = 0.00019837333862328903
72º termo 1/5184 = 0.00019290123456790122
73º termo 1/5329 = 0.00018765246762994934
74º termo 1/5476 = 0.00018261504747991235
75º termo 1/5625 = 0.00017777777777777779
76º termo 1/5776 = 0.00017313019390581717
77º termo 1/5929 = 0.00016866250632484398
78º termo 1/6084 = 0.0001643655489809336
79º termo 1/6241 = 0.0001602307322544464
80º termo 1/6400 = 0.00015625
81º termo 1/6561 = 0.00015241579027587258
82º termo 1/6724 = 0.000148720999405116
83º termo 1/6889 = 0.00014515894904920887
84º termo 1/7056 = 0.0001417233560090703
85º termo 1/7225 = 0.0001384083044982699
86º termo 1/7396 = 0.00013520822065981613
87º termo 1/7569 = 0.0001321178491214163
88º termo 1/7744 = 0.00012913223140495868
89º termo 1/7921 = 0.00012624668602449185
90º termo 1/8100 = 0.0001234567901234568
91º termo 1/8281 = 0.00012075836251660427
92º termo 1/8464 = 0.00011814744801512288
93º termo 1/8649 = 0.00011562030292519366
94º termo 1/8836 = 0.00011317338162064282
95º termo 1/9025 = 0.00011080332409972299
96º termo 1/9216 = 0.00010850694444444444
97º termo 1/9409 = 0.00010628122010840685
98º termo 1/9604 = 0.00010412328196584757
99º termo 1/9801 = 0.00010203040506070809
100º termo 1/10000 = 0.0001
1.6349839001848923

In [225]:
lista = [1,19,2,15,21,12,2]
for num in lista:
    print(num)

1
19
2
15
21
12
2

In [227]:
print(num)

2

In [239]:
for num in lista:
    if num % 2 == 0:
        print(num, "é par.")
    else:
        print(num, "é impar.")

1 é impar.
19 é impar.
2 é par.
15 é impar.
21 é impar.
12 é par.
2 é par.

In [241]:
cont_par = 0
cont_impar = 0
for num in lista:
    if num % 2 == 0:
        cont_par += 1
    else:
        cont_impar += 1
print ("A lista contém {} números pares e {} números impares.".format(cont_par,cont_impar))

A lista contém 3 números pares e 4 números impares.

In [243]:
soma = 0
for n in lista:
    soma+=n
print("A soma dos elementos da lista é {}.".format(soma))

A soma dos elementos da lista é 72.

In [257]:
print("A soma dos elementos da lista é",sum(lista))

A soma dos elementos da lista é 72

In [263]:
soma_impar = 0
for n in lista:
    if n % 2 == 1:
        soma_impar = soma_impar + n
print("A soma dos elementos impáres da lista = ", soma_impar)

A soma dos elementos impáres da lista =  56

In [271]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [277]:
soma_mult_3 = 0
for x in range(3,100,3):
    soma_mult_3+=x
print(soma_mult_3)

1683

In [281]:
num = int(input("Digite um número que seseja imprimir a taboada: "))
for mult in range (1,11):
          print("{} X {} = {}".format (num,mult,num*mult))

Digite um número que seseja imprimir a taboada:  5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [289]:
for num in range(1,10):
    print("\n")
    for mult in range (1,11):
        print("{} X {} = {}".format(num,mult, num*mult))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40


5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80


9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [295]:
maiorpalavra = "pneumoultramicroscopicossilicovulcanoconiótico"
for letra in maiorpalavra:
    print(letra)

p
n
e
u
m
o
u
l
t
r
a
m
i
c
r
o
s
c
o
p
i
c
o
s
s
i
l
i
c
o
v
u
l
c
a
n
o
c
o
n
i
ó
t
i
c
o

In [307]:
tupla = {1,19,5,12,6}
for ele in tupla:
    print(ele)

1
19
5
6
12

In [315]:
lista_tupla = [(1,2,3),(4,5,6),(7,8,9)]
(t1,t2,t3) = lista_tupla[1]
print(type(lista_tupla))
print(type(lista_tupla[1]))
print(type(t1))
lista_tupla[1]

<class 'list'>
<class 'tuple'>
<class 'int'>

(4, 5, 6)

In [319]:
lista_tupla_notas = [(18,20,15,22),(10,15,25,19),(16,24,21,20),(10,13,18,13)]
for (ele1,ele2,ele3,ele4) in lista_tupla_notas:
    print("A 3a nota = {}.".format(ele3))

A 3a nota = 15.
A 3a nota = 25.
A 3a nota = 21.
A 3a nota = 18.

In [321]:
conj1 = {1,5,2,6,3,4}
for ele in conj1:
    print(ele)

1
2
3
4
5
6

In [327]:
conj2 = {1,17,12,4,2,20}
for ele in conj1:
    if ele in conj2:
        print("O elemento {} está contido no conj2.".format(ele))
    else:
         print("O elemento {} não está contido no conj2.".format(ele))

O elemento 1 está contido no conj2.
O elemento 2 está contido no conj2.
O elemento 3 não está contido no conj2.
O elemento 4 está contido no conj2.
O elemento 5 não está contido no conj2.
O elemento 6 não está contido no conj2.

In [1]:
dic_estados  = {"MG":"Minas Gerais", "PR":"Paraná","BA":"Bahia", "RN": "Rio Grande do Norte", "AM" : "Amazonas"}
for est in dic_estados:
    print(est)

MG
PR
BA
RN
AM

In [335]:
for est in dic_estados.values():
    print(est)

Minas Gerais
Paraná
Bahia
Rio Grande do Norte
Amazonas

In [7]:
for (sig,est) in dic_estados.items():
    print("A sigla para {} é {}".format(est,sig))

A sigla para Minas Gerais é MG
A sigla para Paraná é PR
A sigla para Bahia é BA
A sigla para Rio Grande do Norte é RN
A sigla para Amazonas é AM

In [341]:
lista

[1, 19, 2, 15, 21, 12, 2]

In [343]:
lista.clear()

In [345]:
lista

[]

In [347]:
lista = [i for i in range(1,21)]

In [349]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [351]:
lista.clear()

In [353]:
for i in range (1,21):
    lista.append(i)
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [355]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [357]:
lista.clear()

In [359]:
lista = list (range(1,21))

In [361]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [371]:
pares = []
for i in range(1,51):
    if i%2 == 0:
        pares.append(i)
pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [375]:
pares2 = [num for num in range (1,51) if num % 2 == 0]
pares2

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [377]:
letras = [l.upper() for l in "palavra"]

In [379]:
letras

['P', 'A', 'L', 'A', 'V', 'R', 'A']